link(href='/template/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
// MetisMenu CSS
link(href='/template/bower_components/metisMenu/dist/metisMenu.min.css', rel='stylesheet')
// Timeline CSS
link(href='/template/dist/css/timeline.css', rel='stylesheet')
// Custom CSS
link(href='/template/dist/css/sb-admin-2.css', rel='stylesheet')
// Morris Charts CSS
link(href='/template/bower_components/morrisjs/morris.css', rel='stylesheet')
// Custom Fonts
link(href='/template/bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')

script(src='/template/bower_components/jquery/dist/jquery.min.js')
// Bootstrap Core JavaScript
script(src='/template/bower_components/bootstrap/dist/js/bootstrap.min.js')
// Metis Menu Plugin JavaScript
script(src='/template/bower_components/metisMenu/dist/metisMenu.min.js')
// Morris Charts JavaScript
script(src='/template/bower_components/raphael/raphael-min.js')
script(src='/template/bower_components/morrisjs/morris.min.js')
script(src='/template/js/morris-data.js')
// Custom Theme JavaScript
script(src='/template/dist/js/sb-admin-2.js')